.header {
  height: 60px;
  overflow: hidden;
  line-height: 40px;
  padding: 10px;
}

.header__title {
  float: left;
  font-size: rem(14px);
  font-weight: 400;
}

.header__status {
  float: right;
  padding: 8px 0;
  line-height: 24px;

  li {
    float: left;
    list-style: none;
  }

}
